/* backgrond color for header */

header{
    background-color: #f0f0f0;
}

/* margin and size of logo */

#logo{
    margin: 10px;
    width: 64px;
    height: 64px;
}

/* link to home page in navbar */

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins&display=swap');
#home{
    margin: 10px;
    font-weight: 600;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    line-height: 1.2;
}

/* list */

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto&display=swap');
#navbarNavDropdown{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    line-height: 1.5;
    margin:0 20%;
}

/* margin of button */

#button{
    margin: 0 2%;
}


