.card{
    width: 320px;
    height: 320px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 120px;
    height: 120px;
}

.img3{
    height: 85px;
}

a{
    position: absolute;
    top: 260px;
    left: 25px;
}

@media (max-width: 770px) {
    figure{
        position: absolute;
        top: 65px;
    }
    h5{
        font-size: 14px;
    }
}